@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.whole-page {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  font-family: 'Inconsolata', monospace;
}

.sidebar {
    grid-column: 1;
    margin-top: 100px;
    font-size: 24px;
    padding: 20px;

}

.sidebar a {
    padding-top: 30px;
    text-decoration: none;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    display: inline-block;
    line-height: 30px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    width: 200px;
}

.sidebar a:hover {
    background-color: #e0eaf3;
}

.city-header {
    grid-row: 1;
    grid-column: 2;
}

.city-name{
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 80px;
}

img {
    grid-column: 2;
    grid-row: 2;
    width: 500px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.posts-container {
    grid-row: 3;
    grid-column: 2 / span 2;
    padding-top: 50px;
}

.posts, .user-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.post-title, .post-date, .post-author, .post-text, 
.user-post-title, .user-post-date, .user-post-author, .user-post-text {
    padding-right: 20px;
}

.post-author, .user-post-author {
    padding-left: 30px;
}

.post-text, .user-post-text {
    flex-wrap: wrap;
}

.post-info, .user-post-info {
    display: flex;
    flex-direction: row;
}

.posts-btn {
    background-color: white;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    display: inline-block;
    line-height: 16px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
}

.posts-btn:hover {
    background-color: #e0eaf3;
}

.weather-container {
    grid-row: 1;
    grid-column: 3;
    margin-top: 100px;
    padding-left: 100px;
}

.user-post {
    grid-row: 1;
    grid-column: 3;
    margin-top: 400px;
    padding-left: 100px;
}

.weather-header, .user-post-header {
    font-size: 20px; 
}




