<div class="nav-container">

  <nav class="navbar navbar-expand navbar-light ">
      <a class="navbar-brand" id="brand" routerLink="/">WAYFARER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" id="home-link" routerLink="/">Home</a>
          </li>

          <li ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
              Cities
            </a>
            <div ngbDropdownMenu="cities" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div *ngFor="let city of cities">
                <a ngbDropdownItem class="dropdown-item" routerLink="/cities/{{city.id}}">{{city.name}}</a>
              </div>
            </div>
          </li>

        </ul>
        <div class="form-group input-group">
              <input type="text" class="form-control input-sm" placeholder="Search" id="sitesearch" autocomplete="off" name="search" [(ngModel)]="search" (keyup)="showResults()">
              <span class="input-group-addon"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="showResults()"><span class="glyphicon glyphicon-search">Search</span></button></span><br>
        </div>
      </div>
    </nav>
</div>

<div class="search-results" *ngIf="isShown" >
  <div *ngFor="let data of cities | search: search; let i = index;" ng-show="search">
    <a class="search-link" routerLink="/cities/{{data.id}}">{{data.name}}</a><br>
  </div>
</div>

<div *ngIf="router.url==='/'">
  <div class="hero-img"></div>
</div>

<router-outlet></router-outlet>
