@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.nav-container {
    display: flex;
    flex-direction: row;
    font-family: 'Inconsolata', monospace;
    padding-left: 12px;
}

li {
    padding-right: 20px; 
    font-size: 20px;
}

#sitesearch {
    width: 250px !important;
    position: relative;
    right: 0;
}

#brand{
    font-size: 48px;
}

.search-results {
    padding-left: 400px; 
    font-family: 'Inconsolata', monospace;
}

.search-link {
    color: black;
    text-decoration: none;
    font-size: 18px; 
}

.hero-img {
    background-image: url("./../assets/images/southwest.jpeg");
    background-size: cover;
    opacity: 80%;
    height: 100vh;
}



